<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'VinAudit.uwp' in resource group 'VinAudit.uwp' -->
  <InstrumentationKey>a91eb6d7-f9eb-4b34-a39d-f049feb0682f</InstrumentationKey>
</ApplicationInsights>