<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="24700lepusmagnum.VinAudit.com" Publisher="CN=DC282004-FA5B-46E0-8880-6E68BFA41465" Version="1.1.0.6" />
  <Properties>
    <DisplayName>VinAudit.com</DisplayName>
    <PublisherDisplayName>lepus magnum</PublisherDisplayName>
    <Logo>Assets\StoreLogo.jpg</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="VinAudit.App">
      <m2:VisualElements DisplayName="VinAudit.com VIN scanner" Description="The VinAudit.com Windows app provides affordable and comprehensive vehicle history reports. Type in a VIN or use your device's camera to scan it. VinAudit.com is an approved access provider for the National Motor Vehicle Title Information System (NMVTIS)." BackgroundColor="#4CC43F" ForegroundText="dark" ToastCapable="false" Square150x150Logo="Assets\Logo.jpg" Square30x30Logo="Assets\SmallLogo.jpg">
        <m2:DefaultTile ShortName="VinAudit.com">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:ApplicationView MinWidth="width320" />
        <m2:SplashScreen BackgroundColor="#1F1F1F" Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="webcam" />
  </Capabilities>
</Package>